/*https://www.viget.com/articles/color-contrast/*/

/* CSS inspired by:
	http://csc174.org/assignment02/dcancelmo/css/styles.css
*/

body {
	background-color: #093145;
	color: #373d3f;
	font-size: 1.1em;
	font-family: Merriweather, serif;
}

header {
	border-bottom: 3px double grey;
}
h1 {
	padding: 15px 0 0 10px;
}

#container {
	margin: 0 auto;
	width: 85%;
	background-color: #f2f3f4;
	border-radius: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

figure {
	float: right;
	margin-top: 0;
	margin-left: 10px;
	margin-right: 0;
	background-color: #C0C0C0;
	padding: 10px;
	text-align: center;
}

article {
	padding: 0 10px 0 10px;
}

section {
	padding: 10px 0 10px 0;
}

p {
	line-height: 1.4em;
}

a {
	color: #f58b4c;
}

a:hover {
	color: #c2571a;
}

a:visited {
	color: #912617;
}