/*
	Design artist: Daniel Cancelmo
	CSS strategy: SMACCS
	All styles are placed in sections of styles.css with the exception of navigation elements.
	However all navigation elements are taken out of the base section of this file and placed in navigation.css

	Table of Contents
		Base
			also in navigation.css
		Layout
		Module


	
	CSS inspired by:
	http://csc174.org/assignment02/dcancelmo/css/styles.css
	
	Color scheme:
	https://www.viget.com/articles/color-contrast/
*/

/* ______________________BASE______________________ */
/* All navigation related base elements are placed in navigation.css */
body {
	background-color: #093145;
	color: #373d3f;
	font-size: 1.1em;
	font-family: Merriweather, serif;
}

footer {
	padding: 10px;
	clear: both;
}

h1 {
	padding: 15px 0 0 10px;
}

p {
	line-height: 1.4em;
}

a {
	color: #f58b4c;
}

a:visited {
	color: #912617;
}

a:hover {
	color: #c2571a;
}

hr {
	width: 100%;
}

/* ______________________LAYOUT______________________ */
.container {
	margin: 0 auto;
	width: 85%;
	background-color: #f2f3f4;
	border-radius: 2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 1px;
}

.wrapper {
	padding: 0 10px 0 10px;
}

.section {
	padding: 10px 0 10px 0;
	overflow: auto;
}

div > div.container {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ______________________MODULE______________________ */

.left-img,
.right-img {
	margin-top: 20px;
	background-color: #c0c0c0;
	padding: 10px;
	text-align: center;
}

.right-img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.left-text {
	text-align: left;
	clear: left;
}

.left-img {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

.right-text {
	text-align: right;
	clear: right;
}

.normal-text,
.normal-text:visited {
	background-color: transparent;
	text-decoration: none;
	color: #373d3f;
}
/* Differentiate the odd student out in a noticeable but non-distracting way */
.odd-out h2,
.odd-out h3 {
	color: #829356;
	text-decoration: underline;
}
